li{
    list-style: none;
    display: inline-block;
    color: lightslategray;
    font-size: 18px;
    font-weight: bold;
}
.real{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.logo{
    display:flex;
    justify-content: center;
}
hr{
    color: lightslategray;
}
.login{
display: flex;
justify-content: flex-end;
    background-position: 0 0;
    display: block;
    height: 50px;
    width: 50px;
}
.no{
    color: lightslategray;
    display: flex;
    justify-content: center;

}
.city{
    display: flex;
    justify-content: center;
}
.bob{
    display: flex;
    justify-content: center;
    justify-content: space-around; 
    color: #17181c;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 3px;
    text-transform: uppercase;}
   
    .bvb{height: 91.4mm;
    
    
    width: 103.28mm;}
.psg{
    color: lightslategray;
}